# SERVER
NODE_ENV=development        # Envronment in which the server is running
PORT=5000                   # Port number where the server will listen
API_V=/api/v1               # Base API version path to secure backward compatibility

# Cross-Origin Resource Sharing (CORS)
CORS_ORIGIN=http://localhost:3000   # Frontend origin for CORS policy (Adjust as needed)

# JSON WEB TOKEN (JWT)
ACCESS_TOKEN_SECRET="random_access_token_secret"        # Secret key for signing access tokens
ACCESS_TOKEN_EXPIRES_IN=15m                             # Access token expiration time
REFRESH_TOKEN_SECRET="random_refresh_token_secret"      # Secret key for signing refresh tokens
REFRESH_TOKEN_EXPIRES_IN=7d                             # Refresh token expiration time

# DATABASE CONFIGURATION (EXAMPLE)
DATABASE_URL=""         # Database connection string/URL
DIRECT_URL=""           # Direct database connection string/URL for certain operations

# ARCJET CONFIGURATION
ARCJET_KEY="ajkey_******************"       # Your Arcjet API key
ARCJET_ENV=development                      # Arcjet environment

# MAILER
EMAIL_USER="email.to.send.mails.from.server@*****.com"      # Email address used to send emails from the server
EMAIL_APP_PASSWORD="app-specific-password"                  # App-specific password for the email account obtained from email provider (GCP in this case)

# ADMIN CREDENTIALS (LOGIN AS AN ADMIN)
ADMIN_EMAIL="administrative.official.email@*****.com"       # Official admin email for initial setup
ADMIN_PASSWORD="StrongAdminPassword!234"                    # Strong admin password for initial setup

# GOOGLE CLIENT OAUTH CREDENTIALS
GOOGLE_CLIENT_ID="obtained.from.gcp"                        # Google OAuth Client ID obtained from GCP
GOOGLE_CLIENT_SECRET="obtained.from.gcp"                    # Google OAuth Client Secret obtained from GCP

# MinIO
MINIO_ENDPOINT=localhost                                    # MinIO server endpoint (localhost for local server)
MINIO_PORT=9000                                             # MinIO server port
MINIO_ACCESS_KEY="minioadmin"                               # MinIO access key
MINIO_SECRET_KEY="minioadmin"                               # MinIO secret key
MINIO_BUCKET="uploads"                                      # MinIO bucket name for storing uploads
MINIO_USE_SSL=false                                         # Whether to use SSL for MinIO connection (true/false)